body {
	text-align: center;
	color: #000000;
	background-color: #992828;
	/* background-image: url("../img/klingon.svg");
	background-size: 80%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat; */
}

@font-face {
	font-family: "Klingon";
	src:url("../font/KLINGON_.eot?") format("eot"),
		url("../font/KLINGON_.woff") format("woff"),
		url("../font/KLINGON_.ttf") format("truetype"),
		url("../font/KLINGON_.svg#Klingon") format("svg");
	font-weight: normal;
	font-style: normal;
}

.klingnum {
	font-family: "Klingon";
	font-size: 120px;
}

.klingtext {
	font-size: 24px;	
}

.clock_container {
	padding-top: 100px;
}
