@font-face {
	font-family: "Klingon";
	src:url("../font/KLINGON_.eot?") format("eot"),
		url("../font/KLINGON_.woff") format("woff"),
		url("../font/KLINGON_.ttf") format("truetype"),
		url("../font/KLINGON_.svg#Klingon") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	color: #000000;
	background-color: #992828;
	/* background-image: url("../img/klingon.svg");
	background-size: 80%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat; */
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	
}

.flex {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-item {
	padding: 10px;
}

.klingnum {
	font-family: "Klingon";
	font-size: 120px;
}

.klingtext {
	font-size: 24px;
}

